.room_name 
    %h1 Lean Startup
.timer
    =link_to "Sign out", signout_path
.cl

.backgroundwall
    .teacher

.classroom
    .blackboard
        .question{:question_id => 1} Who coined the term lean startup?
        .answers
            .answer{:answer_num => 1} Rob Riggle
            .answer{:answer_num => 2} Stephen Colbert
            .answer{:answer_num => 3} Eric Ries
            .answer{:answer_num => 4} Jon Stewart
    .student_barrier
        -@user_ids.each do |id|
            .student{:user_id => id, :class => 'boy'}= id