.room_name Lean Startup
.timer
.cl

.blackboard
    .question{:question_id => 1} Who coined the term lean startup?
    .answers
        .answer{:answer_num => 1} A
        .answer{:answer_num => 2} B
        .answer{:answer_num => 3} C
        .answer{:answer_num => 4} D

.classroom
    -@user_ids.each do |id|
        .person{:user_id => id}= id

=link_to "Sign out", signout_path