.room_name 
    %h1 Lean Startup
.timer
    =link_to "Sign out", signout_path
.cl

.backgroundwall
    .teacher

.classroom
    .blackboard
        .question Who coined the term lean startup?
        .answers
            .answer{:answer_id => 1} Rob Riggle
            .answer{:answer_id => 2} Stephen Colbert
            .answer{:answer_id => 3} Eric Ries
            .answer{:answer_id => 4} Jon Stewart
    .student_barrier
        - (1..3).each do |i|
            .student{:user_id => i, :style => "top: #{(i%2)*80}px; left: #{i*60}px;", :class => "boy"}

        - (4..5).each do |i|
            .student{:user_id => i, :style => "top: #{(i%2)*80}px; left: #{i*60}px;", :class => "girl"}
                .bulb