// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
    width: 100%;
    font-family: MarkerFelt, helvetica, ariel, sans-serif;
    margin: 20px 0;
    text-align: center;
    font-size: 72px;
    line-height: 72px;
    
}     

.room_name{
    font-family: MarkerFelt, helvetica, ariel, sans-serif;
    width:850px;
    height: 100px;
    margin:20px 0 50px 0;
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    float:left;
}

.timer{
    width:100px;
    height:100px;
    float:right;
}

.backgroundwall {
    width: 800px;
    height: 220px;
    margin: 0 auto;
    background: url('backgroundwall.png');
    
    .teacher {
	width: 186px;
	height: 230px;
	background: url('teacher.png');
	float: right;
	position: relative;
	right: 80px;
	top: 160px;
	z-index: 10;
    }
}
        
.classroom {
    width: 800px;
    height: 400px;
    background: url('woodfloorlearntable.jpg');
    margin: 0 auto 0 auto;

    .blackboard {
        width: 498px;
        height: 402px;
        background: url('whiteboard.png');
        padding: 30px 30px 20px 50px;
        position: relative;
	bottom: 300px;
	left: 60px;
	z-index: 5;

        .question {
            width: 100%;
            font-size: 24px;
            line-height: 24px;
            text-align: left;
            margin: 0 0 20px 0;}
        .answers {
            float: left;
            padding-left:40px;
            .answer {
                font-size: 18px;
                line-height: 18px;
                text-align: left;
                margin: 0 0 15px 0;}
            .answer:hover {
                font-size: 18px;
                line-height: 18px;
                text-align: left;
                margin: 0 0 15px 0;
                color: #e00;
                cursor: pointer;}
        }
    }
    
    .student_barrier{
        width:100%;
        position: relative;
	bottom: 350px;
        z-index: 10;
        
        .student {
            position:absolute;
            float:left; 
            
            .bulb {
                width: 30px;
                height: 53px;
                margin-top:-60px;
                margin-left: 45px;
                background: url('lightbulb.png')}
        }
        .boy {
            background: url('boy.png');
            width: 115px;
            height: 148px;}
        .girl {
            background: url('girl.png');
            width: 111px;
            height: 143px;}
    }
}


.fb_login{
    width:314px;
    height:63px;
    margin:0 auto;

    #loginbtn:active {
        background-position: 0px -126px;
    }

    #loginbtn:hover {
        background-position: 0px -63px;
    }

    #loginbtn {
        background: url('https://s3.amazonaws.com/static.turntable.fm/images/indexlogin/button_fb_sprite.png') 0px 0px no-repeat;
        width: 314px;
        height: 63px;
        cursor: pointer;
    }
}