<!DOCTYPE html>
<html>
<head>
  <title>Learntable</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "http://js.pusherapp.com/1.9/pusher.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
